<p>Campaign "{{ campaign.name }}" has ended.</p>

<p>Click here to view the summary report: <a href="{{ reportSummaryUri }}">{{ reportSummaryUri }}</a></p>

<p>Click here to view the creative report: <a href="{{ reportCreativeUri }}">{{ reportCreativeUri }}</a></p>

